{% extends "base.html" %}

{% block content %}

<div class="page-content-wrapper-inner">
    <div class="row">
        <div class="grid grid-body col-5">
            <form class="form-group showcase_row_area" id="form_import_csv" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="text-center col-12 p-0 pb-2">
                        <h5><b>Дополнить базу данных</b></h5>
                    </div>
                    <div class="custom-file col-12">
                        <input type="file" class="custom-file-input" id="file_import_csv" name="file_import_img" accept=".csv">
                        <label class="custom-file-label" for="file_import_csv">Выберете файл</label>
                    </div>
                    <div class="showcase_text_area col-12 p-0 mt-3">
                        <button type="submit" class="btn btn-dark btn-block" id="button_import_csv">
                            Добавить
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="grid grid-body col-7">
            <div class="row">
                <div class="text-center col-12 p-0 pb-2">
                    <h5><b>Сравнение формул</b></h5>
                </div>
                <div class="text-center col-12" id="input_katex">
                    <h1 style="margin-top: 1rem; color: #b1b1b1">Тут будет информация...</h1>
                    <h6 style="color: #b1b1b1">Выберете формулу из таблицы</h6>
                </div>
                <div class="showcase_text_area col-12 mt-3" id="button_katex">
                </div>
            </div>
        </div>
        <div class="grid grid-body col-12">
            <table id="table_database" class="table table-bordered w-100 text-center">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>LaTeX</th>
                        <th>Дата загрузки</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="spin_load_database">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_diff" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="CheckModalLabel">Сравнение формул</h5>
                <button type="button" class="btn social-icon-btn btn-outline-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">
                    <i class="mdi mdi-close"></i>
                </button>
            </div>
            <div class="modal-body break-all" id="modal_body_diff"></div>
        </div>
    </div>
</div>

<style>
    .dataTable tbody tr:hover td {
        cursor: pointer;
        background-color: #001D41;
        color: #ffffff;
    }
</style>


{% endblock %}