{% extends "base.html" %}

{% block content %}
<div class="page-content-wrapper-inner">
    <div class="row">
        <div class="col-md-6 col-12 equel-grid">
            <div class="grid grid-body">
                <h5 class="text-center mb-3">
                    <b>О Разделах</b>
                </h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="card-title">
                            <label class="inc-badge inc-badge-dark">Страница <i class="mdi mdi-format-superscript mr-1"></i>Работа с формулами</label>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><b>Входные данные</b></p>
                                    <div class="log-details">
                                        Входными данными для работы с формулами является синтаксис LaTeX и изображения.
                                        Для наиболее корректной работы с изображениями лучше загружать файлы в формате JPEG.
                                        Также, желательно, чтобы на изображении формула имела отступы от краев больше 20px.
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>Выходные данные</b></p>
                                    <div class="log-details">
                                        Входными данными является нормализованная формула в формате LaTeX, а также
                                        формула в графическом формате KaTeX.
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>Действия</b></p>
                                    <div class="log-details">
                                        При работе с формулами вы можете изменять её, чтобы добиться нужного формата.
                                        Если формула удовлетворяет Вашим требованиям, её можно сохранить в базу данных.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card-title">
                            <label class="inc-badge inc-badge-dark">Страница <i class="mdi mdi-database mr-1"></i>База данных</label>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><b>Работа с БД</b></p>
                                    <div class="log-details">
                                        На странице отображена полная выгрузка данных из БД. Данные можно скачать в формате Excel.
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>Загрузка данных</b></p>
                                    <div class="log-details">
                                        Для пополнения данных в БД множеством формул можно использовать загрузку CSV файла.
                                        Формулы добавятся в БД и отобразятся в выгрузке.
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>Сравнение формул</b></p>
                                    <div class="log-details">
                                        Для сравнения формул необходимо выбрать формулу из выгрузки и нажать сравнить. В открывшемся
                                        окне будет отображена текущая формула и три схожие на неё формулы из БД с процентом
                                        схожести.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 equel-grid">
            <div class="row">
                <div class="col-12 equel-grid">
                    <div class="grid grid-body">
                        <h5 class="text-center mb-3">
                            <b>Поддерживаемые форматы</b>
                        </h5>
                        <nav class="nav nav-pills nav-fill" role="tablist">
                            <a id="nav_link_main_lang_rule" class="nav-item nav-link active" data-bs-toggle="tab" href="#nav_href_main_lang_rule" role="tab" aria-selected="true">
                                <b>LaTeX</b>
                            </a>
                            <a id="nav_link_main_lang_reg" class="nav-item nav-link" data-bs-toggle="tab" href="#nav_href_main_lang_reg" role="tab" aria-selected="true">
                                <b>KaTeX</b>
                            </a>
                            <a id="nav_link_main_lang_brand" class="nav-item nav-link" data-bs-toggle="tab" href="#nav_href_main_lang_brand" role="tab" aria-selected="true">
                                <b>Изображения</b>
                            </a>
                        </nav>
                        <div class="tab-content py-3">
                            <div class="tab-pane fade show active" id="nav_href_main_lang_rule" role="tabpanel">
                                <div class="vertical-timeline-wrapper">
                                    <div class="timeline-vertical">
                                        <div class="activity-log">
                                            <p class="log-name"><b>Что такое LaTeX?</b></p>
                                            <div class="log-details">
                                                LaTeX – это язык разметки текста, широко используемый в академической среде
                                                для создания научных документов, статей и книг. Он особенно популярен при
                                                работе с математикой, физикой и другими точными науками благодаря своей
                                                способности точно представлять сложные математические выражения.
                                            </div>
                                        </div>
                                        <div class="activity-log">
                                            <p class="log-name"><b>Как он выглядит?</b></p>
                                            <div class="log-details mr-2">
                                                В исходном виде LaTex представляет собой текст, который определяет структуру формулы:
                                                <textarea class="form-control form-control-lg mt-2" rows="1" readonly="readonly">x^{2}+\left(\frac{4y}{5}-\sqrt{|X|}\right)^{2}=1</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav_href_main_lang_reg" role="tabpanel">
                                <div class="vertical-timeline-wrapper">
                                    <div class="timeline-vertical">
                                        <div class="activity-log">
                                            <p class="log-name"><b>Для чего используется KaTeX?</b></p>
                                            <div class="log-details">
                                                KaTeX используется для отображения математических формул непосредственно в браузере. И
                                                сходный код формулы выглядит аналогично LaTex, но вместо компиляции он обрабатывается и отображается
                                                на веб-странице:
                                                <div class="text-center">
                                                    <span class='math' style=" font-size: 1.3em;">
                                                        x^{2}+\left(\frac{4y}{5}-\sqrt{|X|}\right)^{2}=1
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav_href_main_lang_brand" role="tabpanel">
                                <div class="vertical-timeline-wrapper">
                                    <div class="timeline-vertical">
                                        <div class="activity-log">
                                            <p class="log-name"><b>Почему используются изображения?</b></p>
                                            <div class="log-details">
                                                Использование изображений для представления математических формул является
                                                одним из самых простых способов передачи информации. Данный формат можно
                                                использовать практически везде: в презентациях, документах, электронных
                                                письмах, социальных сетях и многих других местах. Они не требуют специальной
                                                поддержки со стороны программ или платформ, что делает их универсальным
                                                решением для передачи математического контента.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 equel-grid">
                    <div class="grid grid-body">
                        <h5 class="text-center mb-0">
                            <b>API Consensus</b>
                        </h5>
                        <p class="text-center">
                            <b><a class="inc_color_primary" href="/apidocs">Swagger-Документация</a></b>
                        </p>
                        <p class="card-title"><b>Методы:</b></p>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><b>Сравнение формул</b></p>
                                    <div class="log-details">
                                        Метод для нахождения схожей формулы и определения процента схожести.
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>Добавление формулы</b></p>
                                    <div class="log-details">
                                        Метод для добавления формулы в формате LaTeX в базу данных.
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>Выгрузка</b></p>
                                    <div class="log-details">
                                        Метод для выгрузки всех формул из базы данных.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 equel-grid">
                    <div class="grid grid-body">
                        <h5 class="text-center mb-3">
                            <b>Полезные ссылки</b>
                        </h5>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log d-block pb-1">
                                    <p class="log-name"><b><a class="inc_color_primary" href="https://github.com/DoobleFreeze/Consensus-MireAtom">GitHub проекта</a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}