{% extends "base.html" %}

{% block content %}
<div class="page-content-wrapper-inner">
    <div class="row">
        <div class="col-md-6 col-12 equel-grid">
            <div class="grid grid-body">
                <h5 class="text-center mb-3">
                    <b>О Разделах</b>
                </h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="card-title">
                            <label class="inc-badge inc-badge-dark">Страница <i class="mdi mdi-format-superscript mr-1"></i>Работа с формулами</label>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><i class="mdi mdi-regex mr-1"></i><b>ЪЪЪ</b></p>
                                    <div class="log-details">
                                        ЪЪЪ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card-title">
                            <label class="inc-badge inc-badge-dark">Страница <i class="mdi mdi-format-float-right mr-1"></i>Текстовый редактор</label>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><i class="mdi mdi-database mr-1"></i><b>ЪЪЪ</b></p>
                                    <div class="log-details">
                                        ЪЪЪ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card-title">
                            <label class="inc-badge inc-badge-dark">Страница <i class="mdi mdi-database mr-1"></i>База данных</label>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><i class="mdi mdi-database mr-1"></i><b>ЪЪЪ</b></p>
                                    <div class="log-details">
                                        ЪЪЪ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 equel-grid">
            <div class="row">
                <div class="col-12 equel-grid">
                    <div class="grid grid-body">
                        <h5 class="text-center mb-3">
                            <b>Синтаксисы</b>
                        </h5>
                        <nav class="nav nav-pills nav-fill" role="tablist">
                            <a id="nav_link_main_lang_rule" class="nav-item nav-link active" data-bs-toggle="tab" href="#nav_href_main_lang_rule" role="tab" aria-selected="true">
                                <b>ЪЪЪ</b>
                            </a>
                            <a id="nav_link_main_lang_reg" class="nav-item nav-link" data-bs-toggle="tab" href="#nav_href_main_lang_reg" role="tab" aria-selected="true">
                                <b>ЪЪЪ</b>
                            </a>
                            <a id="nav_link_main_lang_brand" class="nav-item nav-link" data-bs-toggle="tab" href="#nav_href_main_lang_brand" role="tab" aria-selected="true">
                                <b>ЪЪЪ</b>
                            </a>
                        </nav>
                        <div class="tab-content py-3">
                            <div class="tab-pane fade show active" id="nav_href_main_lang_rule" role="tabpanel">
                                <div class="vertical-timeline-wrapper">
                                    <div class="timeline-vertical">
                                        <div class="activity-log">
                                            <p class="log-name"><b>ЪЪЪ</b></p>
                                            <div class="log-details">
                                                ЪЪЪ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav_href_main_lang_reg" role="tabpanel">
                                <div class="vertical-timeline-wrapper">
                                    <div class="timeline-vertical">
                                        <div class="activity-log">
                                            <p class="log-name"><b>ЪЪЪ</b></p>
                                            <div class="log-details">
                                                ЪЪЪ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav_href_main_lang_brand" role="tabpanel">
                                <div class="vertical-timeline-wrapper">
                                    <div class="timeline-vertical">
                                        <div class="activity-log">
                                            <p class="log-name"><b>ЪЪЪ</b></p>
                                            <div class="log-details">
                                                ЪЪЪ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 equel-grid">
                    <div class="grid grid-body">
                        <h5 class="text-center mb-0">
                            <b>API Consensus</b>
                        </h5>
                        <p class="text-center">
                            <b><a class="inc_color_primary" href="/apidocs">Swagger-Документация</a></b>
                        </p>
                        <p class="card-title"><b>Методы:</b></p>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log">
                                    <p class="log-name"><b>ЪЪЪ</b></p>
                                    <div class="log-details">
                                        ЪЪЪ
                                    </div>
                                </div>
                                <div class="activity-log">
                                    <p class="log-name"><b>ЪЪЪ</b></p>
                                    <div class="log-details">
                                        ЪЪЪ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 equel-grid">
                    <div class="grid grid-body">
                        <h5 class="text-center mb-3">
                            <b>Полезные ссылки</b>
                        </h5>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical">
                                <div class="activity-log d-block pb-1">
                                    <p class="log-name"><b><a class="inc_color_primary" href="https://github.com/DoobleFreeze/Consensus-MireAtom">GitHub проекта</a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}