<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Страница в разработке</title>
    <link rel="stylesheet" type="text/css" href="/static/js/vendors/iconfonts/mdi/css/materialdesignicons.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/vendors/css/vendor.addons.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/font.css">
    <link rel="stylesheet" type="text/css" href="/static/css/variables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/elements_style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/utils.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page_style.css">
</head>
<body>
<div class="error_page error_2">
    <div class="container inner-wrapper">
        <h1 class="display-1 error-heading">404 ERROR</h1>
        <h2 class="error-code">Страница не найдена!</h2>
        <p class="error-message">Страница с указанным адресом не найдена.</p>
        <a href="/static" class="btn btn-primary">Обратно на главную</a>
    </div>
</div>
<script src="/static/js/vendors/js/core.js"></script>
<script src="/static/js/vendors/js/vendor.addons.js"></script>
<script src="/static/js/template.js"></script>
</body>
</html>